h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
body {
    background-color: lightpink; /* Changes the background color to light pink */
    color: brown; /* Changes the text color to light brown */
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#navbar a {
  color: #5c4033; /* Brown */
  text-decoration: none;
  padding: 10px 15px;
}

#navbar a:hover {
  background-color: #e2b9b6; /* Slightly darker pink */
  border-radius: 5px;
}

/* Section Styles */
section {
  padding: 60px 20px;
  text-align: center;
}
